[Unit]
Description=pizauth

[Service]
Type=oneshot
KillMode=process
ExecStart=%h/.cargo/bin/pizauth server -c %h/.config/pizauth/pizauth.conf
RestartSec=30

[Install]
WantedBy=default.target
