[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/sbin/xremap %h/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target
