snippet ;mm
	# 議事録 - ${1:company-name} - `strftime('%Y/%m/%d')`

	#mm

	## 日時

	`strftime('%Y/%m/%d')` ${2:start-hour}-${3:end-hour}

	## 場所
	
	## 参加者

	${1:company-name}：${4:attendees}  
	秋山産業：五所

	## 内容

	${5:content}
